:root {
    --white: #ffffff;
    --red-50: #fef2f2;
    --red-200: #fecaca;
    --red-400: #f87171;
    --red-500: #ef4444;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --yellow-300: #fde047;
}

* {
    font-family: 'Rubik', sans-serif;
}

.grid-wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr max-content;
}

.top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'logo button user-icons';
    padding: 10px 20px 5px 20px;
    color: var(--white);
    background-color: var(--slate-700);
}

.top > div:first-child {
    grid-area: logo;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 40px;
    font-weight: 600;
}

.top > div:nth-child(2) {
    grid-area: button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.top > div:nth-child(2) > button {
    width: 100px;
    height: 100px;
    background-image: url(../library/icons/plus-circle-outline.svg);
    background-color: var(--slate-700);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.top > div:last-child {
    grid-area: user-icons;
    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
    gap: 20px;
    cursor: pointer;
}

.top > div:last-child > img {
    max-width: 35px;
    max-height: auto;
}

.top > div:last-child > img:last-child {
    border-radius: 30px;
}

.middle {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--slate-400);
    font-size: 20px;
}

.middle > div:first-child > img {
    width: 200px;
    height: auto;
    min-width: 100px;
    min-height: auto;
    cursor: pointer;
}

/* Styling for appended container  */
.library-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
}

/* Styling for appended library-items */

/* Styling for input form */

.overlay-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
}

.form-container-hidden {
    height: 420px;
    width: 310px;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    background-color: var(--slate-100);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

form > h3 {
    color: var(--slate-600);
}

form > input[type='text'] {
    width: 280px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    color: var(--slate-800);
    background-color: var(--yellow-300);
}


form > input[type='text']:focus {
    outline: none;
}

form > div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form > div > input[type='checkbox'] {
    appearance: none;
}

form > div > input[type='checkbox']::before {
    box-sizing: border-box;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 2px solid var(--slate-400);
    border-radius: 3px;
    background-color: var(--white);
}

form > div > input[type='checkbox']:checked::before {
    content: "✓";
    border: none;
    background-color: var(--yellow-300);
}

form > div > label {
    color: var(--slate-500);
}

form > button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    color: var(--slate-800);
    background-color: var(--slate-300);
}
